<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{movie.title}}</title>
    <link rel="stylesheet" href="path/to/bootstrap.css">
</head>
<body>
    <h1>{{movie.title}}</h1>
    <img src="{{movie.image}}" alt="{{movie.title}}">
    <p><strong>Director:</strong> {{movie.director}}</p>
    <p><strong>Description:</strong> {{movie.description}}</p>
    <p><strong>Stars:</strong> {{#each movie.stars}} {{this}} {{/each}}</p>
    <p><strong>Showtimes:</strong> {{#each movie.showtimes}} {{this}} {{/each}}</p>
</body>
</html>